@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

.largeButton {
  background-color: rgb(130, 71, 115);
  color: whitesmoke;
  padding: 0.6rem 1.2rem;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  text-decoration: none;
  border-radius: 0.2rem;
}

.corneredButton {
  background-color: rgb(151, 175, 185);
  color:rgb(9, 12, 47);
  padding: 0.6rem 0.8rem;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  text-decoration: none;
  border-radius: 0.2rem;
  margin-left: 3rem;
}


