@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.bookIn {
  width: 50vw;
  margin: auto;
  padding: auto;
  margin-top: 1rem;
  &__header {
    color: rgb(14, 14, 89);
    font-family: $font-header;
    font-weight: 500;
    font-size: 2rem;
    font-style: bold;
    margin-bottom: 2rem;
  }

  &__text {
    font-family: $font-login-text;
    color: $color-text;
    display: flex;

    &--account {
      font-size: 0.8rem;
      width: 9rem;
      color: $color-text-secondary;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0 1rem 0;
  }

  &__input--password {
    height: 50rem;
  }
}
