

.navList{
    list-style: none;
    padding:50px;
    background-color: rgb(4, 47, 33);
    &__button{
        margin-right: 0;
    }
    &__listItem {
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.2rem;
        padding: 0.6rem;
        &--link{
            margin-left: 2rem;
            text-decoration: none;
            color:rgb(135, 165, 156);
        }
    }
    &__anchor{
        text-decoration: none;
        &--unselected{
            color: rgb(135, 165, 156);
        }
        &--footer-selected{
            color: rgb(40, 40, 178);
            text-decoration: none;
        }
        
        &--header-selected{
            color:gray;
            text-decoration: none;
        }
    }
}




