.home{
    width: 100vw;
    height: 100vh;
    &__text{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        padding: 10px;
        line-height: 40px;
        font-weight: 100;
        color: rgb(76, 7, 7);
    }
    &__img{
        width: 50vw;
        height: 100vh;
    }
}